.jumbo {
    background-image: url("https://images.unsplash.com/photo-1542010589005-d1eacc3918f2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2692&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
}